
<div class="content" role="main">
  <h1>Hello World</h1>
  <div id="marker-chart-wrapper">
    [TODO: insert bokeh diagram]
    <div id="marker-chart-data">
      <p>min: [TODO: insert min value from marked interval]</p>
      <p>max: [TODO: insert max value from marked interval]</p>
      <p>avg: [TODO: insert average value from marked interval]</p>
    </div>
  </div>
  
  <!-- Footer -->
  <footer>
    <p>(C) have fun with <a href="https://trainalyzed.com/">Trainalyzed</a></p>
  </footer>    

</div>

<router-outlet></router-outlet>